/* ---------- Responsive ---------- */
@media (max-width: 768px) {
    #menu {
      display: block;
    }
  
    nav ul {
      flex-direction: column;
      background-color: var(--primary-color);
      position: absolute;
      top: 60px;
      right: 0;
      width: 200px;
      display: none;
      padding: 1rem;
    }
  
    nav ul.open {
      display: flex;
    }
  
    nav li {
      margin: 0.8rem 0;
    }
  
    .nameholder {
      font-size: 1.4rem;
    }
  }
  
    